body {
  margin: auto;
  padding-right: 1em;
  padding-left: 1em;
  max-width: 44em;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 100%;
  line-height: 140%;
  color: #333;
}
h1.main {
  text-align: center;
  margin-top: 40px;
}
h1.version{
  text-align: center;
  margin-top: 40px;
  font-size: smaller;
  font-style: italic;
}
h1.edition{
  text-align: center;
  margin-top: 40px;
  font-size: smaller;
  font-style: italic;
}
p.author,
p.date,
.rights {
  text-align: center;
  margin-top: 10%;
}
.abstract{
  margin-top: 10%;
  font-size: smaller;
  font-style: italic;
  display: none;
}
code {
  font-family: monospace;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
  color: rgb(66, 35, 0);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: verdana;
  font-weight: bold;
  border-bottom: 1px dotted black;
  color: rgb(66, 35, 0);
}
h1 {
  font-size: 130%;
}

h2 {
  font-size: 110%;
}

h3 {
  font-size: 95%;
}

h4 {
  font-size: 90%;
  font-style: italic;
}

h5 {
  font-size: 90%;
  font-style: italic;
}

h1.title {
  font-size: 200%;
  font-weight: bold;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: left;
  border: none;
}

dt code {
  font-weight: bold;
}
dd p {
  margin-top: 0;
}

.footnote-ref{
  font-size: 50%;
  vertical-align: top;
}

#footer {
  padding-top: 1em;
  font-size: 70%;
  color: gray;
  text-align: center;
}
