name: Release

on:
  workflow_dispatch:

jobs:
  lint:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/lint.yml

  perform-release:
    runs-on: ubuntu-22.04
    needs:
      - lint
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Release project
        uses: cycjimmy/semantic-release-action@v3.2.0
        with:
          semantic_version: 18.0.0
          branch: main
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/exec
            @semantic-release/git
            @google/semantic-release-replace-plugin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
